<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Attribut:</strong>
  <%= @user.attribut %>
</p>

<p>
  <strong>Group:</strong>
  <%= Group.where(id: @user.group_id).first.name %> [TODO: use relations ?]
  <%= @user.group %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
